.container{
    width: 1312px;
    margin: auto;
}
.mani-1{
    display: flex;
    justify-content: space-between;
}
.mani-2{
    display: flex; 
    outline: solid 2px;
    justify-content: space-between;
}
.mani-3{
    height: 724px;
}
.mani-4{
    display: flex;
    flex-wrap: wrap;
    height: 575px;
}
.image-content, .text-content{
    width: 50%;
    height: 575px;
    outline: solid 2px;
}
.mani-4 .image-content img {
    width: 100%;
    height: 575px;
}
.one{
    text-align: center;
    font-weight: 800;
    padding-top: 60px;
    justify-content: space-between;
}
.one .parag{
    font-style: italic;
    padding: 20px;
} 
.logo-finger{
    font-size: 30px;
    color: lightskyblue;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 229px;
    padding-top: 30px;
    border-radius: 6px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}
.logo-gift{
    font-size: 40px;
    color: lightskyblue;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-top: 30px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-left: 30px;   
}
.ball{
    font-size: 20px;
    padding-left: 50px;
}
.apple .ball{
    padding: 30px; 
}
.apple .cat{
    padding-left: 250px;
    padding-right: 40px;
}
.mani-5{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 25px;
}.mani-5 .bike-1{
    width: 33.33%;
    height: 161px;
    padding: 20px 30px;
    border: solid 1px;
    border-top: 0px;
    box-sizing: border-box;
}
.mani-5 :nth-child(1){
    border-left: none;
    border-top: none;
}
.bike-1 .pulsar{
    font-size: 25px;
    padding: 10px;
    color: #a1cdf4;
}
.bike-1 .ns{
    font-size: 28px;
    padding: 10px;
}
.bike-1 .pulns{
    font-size: 15px;
    padding: 10px;
}
.mani-5 :nth-child(2){
    border-top: none;
}
.bike-1 .xl{
    font-size: 25px;
    padding: 10px;
    color: #a1cdf4;
}
.bike-1 .xl50{
    font-size: 28px;
    padding: 10px;
}
.bike-1 .xl100{
    font-size: 15px;
    padding: 10px;
}
.mani-5 :nth-child(3){
    border-top: none;
    border-right: none;
}
.bike-1 .hero{
    font-size: 25px;
    padding: 10px;
    color: #a1cdf4;
}
.bike-1 .herhon{
    font-size: 28px;
    padding: 10px;
}
.bike-1 .herhonda{
    font-size: 15px;
    padding: 10px;
}
.mani-5 :nth-child(4){
    border-left: none;
    border-bottom: none;
}
.bike-1 .honda{
    font-size: 25px;
    padding: 10px;
    color: #a1cdf4;
}
.bike-1 .shine{
    font-size: 28px;
    padding: 10px;
}
.bike-1 .unicorn{
    font-size: 15px;
    padding: 10px;
}
.mani-5 :nth-child(5){
    border-bottom: none;
}
.bike-1 .scooty{
    font-size: 25px;
    padding: 10px;
    color: #a1cdf4;
}
.bike-1 .activa{
    font-size: 28px;
    padding: 10px;
}
.bike-1 .dio{
    font-size: 15px;
    padding: 10px;
}
.mani-5 :nth-child(6){
    border-right: none;
    border-bottom: none;
}
.bike-1 .passionpro{
    font-size: 25px;
    padding: 10px;
    color: #a1cdf4;
}
.bike-1 .passion{
    font-size: 28px;
    padding: 10px;
}
.bike-1 .passionnew{
    font-size: 15px;
    padding: 10px;
}
.Number-list-box{
    display: flex;
}
.numberbox{
    width: 25%;
    height: 161px;
    margin-right: 22px;
    background-color: rgb(240, 244, 245);
    text-align: center;
    padding: 20px 15px;
    box-shadow: 0px 0px 10px #9e9e9e;
}
.numberbox .h1{
    font-size: 42px;
    display: block;
    font-weight: 700;
    padding-top: 50px;
    color: #1c5c93;
}
.numberbox .h4{
    padding: 0;
    margin: 0;    
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
.service{
    padding-top: 90px;
    padding-bottom: 80px;
}
.service-list{
    display: flex;
    flex-wrap: wrap;
}
.service-list .service-box{
    width: 395px;
    padding-left: 15px;
    padding-right: 15px;
}
.service-info .service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 25px #607d8b;
    text-align: center;
    margin: 0 auto 25px;
}
.service-icon i{
    font-size: 30px;
    color: lightskyblue;
}
.service-text{
    text-align: center;
    padding-top: 10px;
}
.service-text h4{
    font-size: 20px;
    transition: all 0.5s ease;
}
.service-text h4:hover{
    color: lightskyblue;
    cursor: pointer;
    font-weight: 300;
}
.ser-hrl{
    width: 60px;
    height: 2px;
    background-color: lightskyblue;
    margin: 15px auto;
}
.service-box:hover .service-info .service-icon{
    box-shadow: 0px 0px 25px lightskyblue;
}
.portfolio{
    display: flex;
    background-color: #f5f9fc;
}
.portfoliocontent h2{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 32px;
    color: #5c768d;
    font-weight: 600;
} 
.portfoliocontent p{
    display: flex;
    text-align: center;
    padding-left: 80px;
    padding-bottom: 80px;
    font-size:18px;
    font-weight: 400;
    color: #444;
}
.portfolio-list  {
       display: flex;
       flex-wrap: wrap;
    
}
.portfolio-list .portfoliobox{
    width: 33.33%;
    height: 270px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.portfoliocont {
    position: relative;
    overflow: hidden;
 }
.portfoliocont img{
    display: flex;
    width: 100%;
    height: 270px;
   transition: all 0.5s ease;
}
.portfoliocont:hover img{
    transform: scale(1.1);
}

.portfoliotext{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
   
}
.portfolioinfo{
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
.portfoliobox:hover .portfoliotext{
    opacity: 1;
}
.portfoliobox:hover .portfolioinfo{
    
    transform: translateY(0px);
    transition: all 0.5s ease;
}
.portfoliobox:hover .portfolioinfo{
    opacity: 1;
} 
.portfolioinfo h5{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.portfolioinfo h6 {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.portfolioicon{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.portfolioicon a{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    margin: 0 5px;
}
.portfolioicon  a:hover {
    background-color: #428bca;
    color:#fff;
}
.our-teams-list{
    display: flex;
    flex-wrap: wrap;
}
.our-teams-box{
    width: 25%;
    padding: 0 15px;
}
.our-teams-info{
    position: relative;
}
.our-teams-info .our-teams-pic{
    overflow: hidden;
    border-radius: 5px;
}
.our-teams-info .our-teams-pic img{
    width: 100%;
    height: auto;
    display: block;
}
.our-teams-content{
    position: absolute;
    bottom: -20;
    left: 5%;
    width: 90%;
    background-color: rgba(0,0,0,0.41);
    padding: 15px 20px;
    text-align: center;
}

